@page "/"

<PageTitle>Home</PageTitle>

<h1>🤖CyberQuiz🤖</h1>

Welcome to CyberQuiz.

<div>
    <a class="btn btn-primary" href="/Account/Login">Log in</a>
    <a class="btn btn-secondary" href="/Account/Register">Register</a>
</div>
